/* CONSTANTS */

:root {
    --color-input: #efefef;
}

/* CSS RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    letter-spacing: .06em;
    line-height: 21px;
}

button {
    border-style: none;
    letter-spacing: .04em;
    padding: 0px;
}

ol, ul {
    list-style: none;
}

img {
    max-height: 100%;
    width: auto;
}

input {
    outline: none;
    border-style: none;
    letter-spacing: .04em;
    padding: 0px 20px;
}

/* INTERVAL TIMERS CSS */
/* @font-face {
    font-family: roboto-regular;
    src: url(./extras/Roboto/static/Roboto-Regular.ttf);
} */
* {
    /* font-family: roboto-regular; */
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    font-weight: 900;
}

body {
    background-color: red;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .intervals {
    display: flex;
    justify-content: center;
} */

.container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    text-align: center;
    /* vertical-align:text-bottom; */
    color: black;
    background-color: white;
    padding: 10px;
    gap: 5px;
}

/* div {
    vertical-align: middle;
} */

.interval {
    display: flex;
    /* background-color: lightblue; */
}

.rest {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    /* background-color: lightgreen; */
}

.rest > div:first-child {
    justify-content: end;
    /* background-color: purple; */
}

.rest > div {
    /* background-color: yellow; */
}

.interval, .rest {
    gap: 10px;
}

.interval *, .rest * {
    width: 32px;
    height: 32px;
}

.container > div > :first-child {
    flex: 1;
}

input {
    background-color: var(--color-input);
    border-radius: 5px;
}

button {
    display: flex;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 5px;
}

img {
    object-fit: contain;
}