/* CONSTANTS */

:root {
    --color-input: #efefef;
    --color-background: #acf39d;
    --color-gray-button: #45554d;
    --width-interval-container: 70vw;
    --border-radius: 5px;
    --time-transition: 0.4s;
}

/* CSS RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    letter-spacing: .06em;
    line-height: 21px;
}

button {
    border-style: none;
    letter-spacing: .04em;
    padding: 0px;
}

ol, ul {
    list-style: none;
}

img {
    max-height: 100%;
    width: auto;
}

input {
    outline: none;
    border-style: none;
    letter-spacing: .04em;
    padding: 0px 20px;
}

/* INTERVAL TIMERS CSS */
/* @font-face {
    font-family: roboto-regular;
    src: url(./extras/Roboto/static/Roboto-Regular.ttf);
} */
* {
    /* font-family: roboto-regular; */
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    font-weight: 900;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    gap: 10px;
}

.controls {
    display: flex;
    gap: 10px;
}

.controls > button {
    background-color: var(--color-background);
    border: 1px solid var(--color-gray-button);
    padding: 10px;
    color: var(--color-gray-button);
    transition: var(--time-transition);
}

.controls > button:hover {
    background-color: var(--color-gray-button);
    cursor: pointer;
    color: white;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intervals {
    border: 1px solid #80b765;
    padding: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    width: var(--width-interval-container);
    text-align: center;
    /* vertical-align:text-bottom; */
    color: black;
    background-color: white;
    border-radius: var(--border-radius);
    padding: 10px;
    gap: 5px;
}

.interval, .rest {
    display: flex;
    /* background-color: lightblue; */
}

.rest > div:first-child {
    justify-content: end;
    /* background-color: purple; */
}

.interval, .rest {
    gap: 10px;
}

.interval *, .rest * {
    width: 32px;
    height: 32px;
}

.container > div > :first-child {
    flex: 1;
}

input {
    background-color: var(--color-input);
    border-radius: var(--border-radius);
}

.container button {
    display: flex;
    background-color: black;
    color: white;
    padding: 4px;
    border: 1px solid white;
    border-radius: var(--border-radius);
    transition: var(--time-transition);
}

.container button:hover {
    cursor: pointer;
    filter: invert(1);
}

.interval > button:not(.remove) {
    background-color: red;
}